@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

html, body {
    height: 100%;
    margin: 0; 
    padding: 0; 
    overflow: hidden; 
}

body {
    font-family: 'Silkscreen', cursive;
    background-image: url('./assets/background.png'); 
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5); 
    z-index: 0; 
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: auto;
    background: rgba(239, 204, 209, 0.868); 
    padding: 40px;
    margin-top: 100px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    position: relative;
    z-index: 1;
    backdrop-filter: blur(15px); 
    -webkit-backdrop-filter: blur(30px);
}


.button-container {
    width: 100%; 
    display: flex;
    justify-content: center;
}


input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
}
textarea {
    height: 42px;      
}

button {
    font-family: 'Silkscreen', cursive;
    background-color: #e67cb1; 
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 70px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    transition: transform 0.2s, background-color 0.3s; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover, button:focus {
    background-color: #cf3688; 
    outline: none; 
    transform: scale(1.05); 
}

button:active {
    transform: scale(0.95); 
    background-color: #ff82b4; 
}


h1 {
    color: #333;
}

#weatherResult div {
    display: flex;
    align-items: center;
}

#temp {
    margin-right: 10px; 
}

.rain-animation {
    position: relative;
    overflow: hidden;
}

.rain-animation::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./assets/rain.png') repeat top center;
    animation: rain 0.5s linear infinite;
}

@keyframes rain {
    0% { background-position: 0 0; }
    100% { background-position: 0 100%; }
}
